services:

  redis:
    image: redis
    ports:
      - "6300:6379"
    restart: always

  django:
    build: .
    container_name: django
    volumes:
      - .:/app
    ports:
      - "8001:8001"
    depends_on:
      - redis
    command: >
      python manage.py runserver 0.0.0.0:8001

  celery:
    build: .
    container_name: celery
    command: >
      celery -A hyperion worker -B --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - django
      - redis
